<section id="userInteraction">
  <div id="riderInputWrapper">
      <div><label for="cityName">Set your departure location</label></div>
      <div><input type="text" id="cityName" placeholder="Enter City Name" autofocus /></div>
      <div><button id="setLocation">Set</button></div>
  </div>
</section>
<section id="mapWrapper">
  <div id="map">
  </div>
</section>